body{
    margin: 0;
    padding: 0;
    background-image: url(https://images.everydayhealth.com/images/fda-warns-against-risky-new-avocado-trend-1440x810.jpg);
}
main{
    padding: 16px;
}
header {
    background-color: pink;
}
footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: brown;
    padding: 8%;
    font-size: x-large;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px solid black;
    padding: 16px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    }
table tr:nth-child(even){
    background-color: lightgrey;
}
h1{
    color: darkgreen;
}
a{
    text-decoration: none;
    color: darkgreen;
}
